html{
    width: 100vw;
    height: 100vw;
}
body{
    width: 100vw;
    height: 100vw;
    background-color: rgb(51, 43, 50);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
  text-align: center;
  font-size: clamp(1.8rem, 10vw, 7rem);
  font-weight: bolder;
  margin-top: 2vw;
  margin-bottom: 2vw;
  font-family:"Limelight", serif;
  text-shadow: 5px 5px rgb(108, 79, 104);
  color:rgb(246, 246, 228);
}
.header {
  display: flex;      
  gap: 20px;           
  justify-content: flex-start; 
  align-items: center; 
  margin-bottom:1.5vw;
  margin-left: 2.2vw;
}
.headerItem {
  font-size: max(1.6vw, 12px);
  width: max(12vw,90px);
  height: max(4vw,30px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: rgb(108, 79, 104);
}
.headerItem:hover{
    background:  rgb(121, 104, 119);;
    

} 
#popup{
  width: max(25vw,200px);
  aspect-ratio: 3 / 4; 
  background-color: #e7dde7;
  padding: 1.4vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 25%;
  left: 40%;
  z-index: 2;
  outline: 0.2vw solid rgb(0, 0, 0);
  cursor: grab;
  user-select: none;
}
#popup.dragging {
  cursor: grabbing;
}

#abouttitle{
  margin-top: 0.4vw;
  font-size:max(1.2vw,10px);
  font-weight: bold;
}
#aboutcontext{
  font-size: max(0.9vw,7px);
}

.close{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right:0.7vw;
  top: 0.7vw;
  height: 3.5vw;
  aspect-ratio: 1/1;
  font-size: 2.5vw;
  border-radius: 2vw;
  background-color: rgb(249, 252, 236);
  border-color: rgb(152, 154, 145);
  z-index: 3;
}
.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 1vw;
  width: 98vw;
  margin: auto;
}

.box {
  aspect-ratio: 3 / 4; 
  background-color: #e7dde7;
  padding: 0.52vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.3s ease;

}
.photo {
  position: relative;  
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  pointer-events: none;

}
.photo img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.photo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-color, rgba(0,0,0,0.8));
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  opacity: 0;
  transition: opacity 0.3s ease;

} 
.score {
  position: absolute;
  bottom: 0.5vw; 
  right: 0.5vw;   
  color: white;
  font-size: max(20px,3vw);
  font-weight: bold;
  opacity: 0;    
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}
.box:hover .score {
  opacity: 1;
}
.box:hover{
  transform: scale(1.07);
}

.box:hover .photo::after {
  opacity: 1;
}


.album {
  margin-top: 0.2rem;
  font-size: max(0.90vw,6px);
  font-weight: bold;
  line-height: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.artist{
  font-size:max(4px,0.63vw);

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 430px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
  .dataContainer{
    display: flex;
    align-items: flex-start;
    
    flex-direction: column;
    gap: 5vw;
  }
  .topAlbums{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }
  .slider {
    position: relative;
    height: 650px;
    width: 100vw;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2vw;
    font-weight: bold;
    overflow: hidden;

  }
  .slides {
    margin-left: 420px;
    display: flex;
    transition: transform 0.5s ease;
    padding: 20px;
    gap:400px;
    
  }
  .slide{
   
    flex: 0 0 85%;
    box-sizing: border-box;
    text-align: center; 
  }
  
  #pie {
    flex: 0 0 65%;
    box-sizing: border-box;
    text-align: center;

  }
  .slider button {
    position: absolute;
    top: 50%;
    height: 700px;
    width: 100px;
    margin: 0vw;
    transform: translateY(-50%);
    background: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    opacity: 0.7;
  }
  .prev { left: 0; }
  .next { right: 0; }

 
  h2 { margin-top: 40px; 
  color: #ddd;} 
  .album-list 
  { display: flex; 
    gap: 15px; 
  } 
  .album-card { 
    display: flex; 
    align-items: center; 
    background: rgba(255, 255, 255, 0.7); 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    
    padding-left: 10px; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
    width: 400px;
    height: 120px;
    overflow: hidden;
  } 
  .album-card img { 
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
    border: 1px solid #aaa; 
    margin-right: 15px; 
  } 
  .album-info { 
    display: flex; 
    flex-direction: column; 
  } 
  .album-info h3 { 
    margin: 0; 
    font-size: 18px; 
  } 
  .album-info p {
     margin: 3px 0; 
    font-size: 14px; 
    color: #555; }
  .album-score{
    background-color: rgba(0,0,0,0.8);
        border-radius: 8px; 
    font-size: 5vw;
    width: 10vw;
    height: 8vw;
    padding-left: 2vw;
    font-weight: bold;
    color:#fff;
    margin-left: 1vw;
    justify-content: center;
    align-items: center;
  }